/***************
VIDEO
***************/

video,
#video-container {
	display: block;
	position: relative;
  margin: 0 auto;
  max-width: 100%;
}

#video-controls {
	max-width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1px;
	background: rgba(0, 0, 0, 0.6);
}

.btn {
	display: none;
}

#video-container:hover .btn {
	display: block;
}



/***************
VIDEO BAR
***************/

#progressBar {
	display: inline;
	position: initial;
  width: 100%; 
  margin-bottom: 8px;
}

#progress {
  background-color: $orange;
  height:6px;
  display:inline;
  position: absolute;
  left: 0;
}

#buffered-amount {
  background-color:#d4ff08;
  height:6px;
  display:inline-block;
}

#video-container:hover #progress {
	height: 12px;
}

/***************
VIDEO CONTROLS
***************/

.left-btn {
	display: inline-block;
	float: left;
	width: 160px;
}

.right-btn {

	@include mobile {
	display: inline-block;
	float: right;
	width: 160px;
}		
	@include tablet {
		width: 175px;
	}
}

.time {
	margin: 1px;
	padding: 1px;
	width: 50px;
}

#time-current,
#time-duration {
	display: inline-block;
	margin-bottom: 5px;
	color: $white;
}





