/***************
VIDEO
***************/

video,
#video-container {

	@include mobile {
		display: block;
		position: relative;
	  margin: 0 auto;
	  max-width: 95%;
	}

	@include desktop {
	  max-width: 92%;
	}
}

#video-controls {

	@include mobile {
		max-width: 95%;
		margin: 0 auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 30px;
		padding: 1px;
		opacity: 0;
		-webkit-transition: opacity .3s;
		-moz-transition: opacity .3s;
		-o-transition: opacity .3s;
		-ms-transition: opacity .3s;
		transition: opacity .3s;
		background: rgba(0, 0, 0, 0.6);
	}

	@include desktop {
	  max-width: 92%;
	}
}


#video-container:hover #video-controls {
	opacity: .9;
}




