/***************
BUTTONS
***************/

button {
	display: inline-block;
	background: rgba(0,0,0,.5);
	border: 0;
	color: black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	cursor: pointer;
}

#play-pause {
	background: url("../icons/play-icon.png") no-repeat;
	width: 25px;
	height: 25px;
}

#mute {
	background: url("../icons/volume-on-icon.png") no-repeat;
	width: 30px;
	height: 25px;
}

#full-screen {
	background: url("../icons/fullscreen-icon.png") no-repeat;
	width: 25px;
	height: 25px;
}

#seek-bar {
	width: 360px;
}

#volume-bar {
	width: 60px;
}

