body {
  color: #384047;
}

.wrapper {
  max-width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
}

h1, h2 {
  text-align: center;
  margin: 30px 0;
}

video, audio {
  margin: 0 auto;
  display: block;
}