/***************
GENERAL
***************/

body {
  background-color: $white;
  color: $grey;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

p {

  @include mobile {
    margin: 0 auto;
    margin-top: 25px;
    max-width: 85%;
    text-align: center;
  }

  @include desktop {
    max-width: 1000px;
  }
}